.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: #7a049f !important;
    
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
    background-color: rgba(0, 0, 0, 0.8) !important;
    color: rgb(255 255 255 / 87%) !important;
}